.flex{
    display: flex;
}

.inline{
    display: inline-block;
}

.rectangulo{
    border: 1px solid rgba(128, 128, 128, 0.589);
    border-radius: 7px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.rectangulo:hover{
    border: 2px solid rgb(0, 150, 209);
}

.rectangulo:hover h5, .rectangulo:hover h6, .rectangulo:hover{
    color: rgb(0, 150, 209);
}

.padding{
    padding-top: 5%;
    padding-bottom: 10%;
}

.gob{
    border: none;
    color: black;
    font-size: large;
    background-color: white;
}

header{
    border-bottom: 5px solid rgb(48, 133, 243);
    background-color: white;
}

#logo{
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
}

#login{
    border: 2px solid #007bc7;
    border-radius: 8%;
    margin-left: 75%;
    min-height: 45px;
    max-height: 45px;
    color: #007bc7;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 3%;
    font-size: medium;
}

#texto-i{
    margin-left: 18%;
    margin-bottom: 50%;
}

#carousel{
    height: 50%;
    z-index: -1;
}

.color{
    background-color: white;
}

.color-2{
    background-color: rgb(248, 248, 248);
}

.margin{
    margin-top: 2%;
    margin-bottom: 2%;
}

.div-footer{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
    border-bottom: 2px solid rgba(151, 151, 151, 0.712);
}

.letra-bl{
    color: white;
}

.sub{
    text-decoration: underline solid white;
    margin-right: 1%;
}

.marg-neg{
    margin-top: -10%;
}

.marg-neg-lg{
    margin-top: -20%;
}

.marg-neg-sm{
    margin-top: -5%;
}

#tram-ser{
    margin-top: 5%;
}

footer{
    background-color: rgb(80, 104, 133);
}

h4{
    margin-top: 2%;
}

.sobre-car{
    margin-top: -13%;
    z-index: 10;
    position:absolute;
    margin-left: 10%;
}

.rect-car{
    background-color: white;
    color: gray;
}

#buscar{
    background-color: yellow;
    color: rgb(102, 102, 102);
    border-radius: 10%;
    padding: 2%;
    padding-left: 4%;
    width: 15%;
    height: 10%;
}